In [1]:
li = [110,105,115,120,110,130,150,100,105]
import pandas as pd
df = pd.DataFrame(li, columns=["Price"])
df

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [11]:
min_price = min(df['Price'])
min_price

100

In [9]:
max_price = max(df['Price'])
max_price

150

In [2]:
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler()
df['Normalization'] = norm.fit_transform(df[['Price']])
df

   Price  Normalization
0    110            0.2
1    105            0.1
2    115            0.3
3    120            0.4
4    110            0.2
5    130            0.6
6    150            1.0
7    100            0.0
8    105            0.1

In [13]:
from sklearn.preprocessing import StandardScaler
stand = StandardScaler()
df['StandardScaler'] = stand.fit_transform(df[['Price']])
df

   Price  Normalization  StandardScaler
0    110            0.2       -0.416356
1    105            0.1       -0.757011
2    115            0.3       -0.075701
3    120            0.4        0.264954
4    110            0.2       -0.416356
5    130            0.6        0.946264
6    150            1.0        2.308884
7    100            0.0       -1.097666
8    105            0.1       -0.757011

In [14]:
from sklearn.preprocessing import FunctionTransformer
logTrans = FunctionTransformer()
df['Log Transform'] = logTrans.fit_transform(df[['Price']])
df

   Price  Normalization  StandardScaler  Log Transform
0    110            0.2       -0.416356            110
1    105            0.1       -0.757011            105
2    115            0.3       -0.075701            115
3    120            0.4        0.264954            120
4    110            0.2       -0.416356            110
5    130            0.6        0.946264            130
6    150            1.0        2.308884            150
7    100            0.0       -1.097666            100
8    105            0.1       -0.757011            105

In [17]:
from sklearn.preprocessing import RobustScaler
RoSc=RobustScaler()
df['Robust Scaler'] = RoSc.fit_transform(df[['Price']])
df

   Price  Normalization  StandardScaler  Log Transform  Robust Scaler
0    110            0.2       -0.416356       0.733333       0.000000
1    105            0.1       -0.757011       0.700000      -0.333333
2    115            0.3       -0.075701       0.766667       0.333333
3    120            0.4        0.264954       0.800000       0.666667
4    110            0.2       -0.416356       0.733333       0.000000
5    130            0.6        0.946264       0.866667       1.333333
6    150            1.0        2.308884       1.000000       2.666667
7    100            0.0       -1.097666       0.666667      -0.666667
8    105            0.1       -0.757011       0.700000      -0.333333

In [18]:
from sklearn.preprocessing import MaxAbsScaler
Maxscaler = MaxAbsScaler()
df['Max Absolute Scaler'] = Maxscaler.fit_transform(df[['Price']])
df

,Price,Normalization,StandardScaler,Log Transform,Robust Scaler,Max Absolute Scaler
0,110,0.2,-0.416356,0.733333,0.000000,0.733333
1,105,0.1,-0.757011,0.700000,-0.333333,0.700000
2,115,0.3,-0.075701,0.766667,0.333333,0.766667
3,120,0.4,0.264954,0.800000,0.666667,0.800000
4,110,0.2,-0.416356,0.733333,0.000000,0.733333
5,130,0.6,0.946264,0.866667,1.333333,0.866667
6,150,1.0,2.308884,1.000000,2.666667,1.000000
7,100,0.0,-1.097666,0.666667,-0.666667,0.666667
8,105,0.1,-0.757011,0.700000,-0.333333,0.700000

In [19]:
df.to_excel('Feature.xlsx')