In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

## Import data set

In [19]:
df=pd.read_csv('asset/weight-height.csv', sep=',')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
8550  Female  60.483946  110.565497
8551  Female  63.423372  129.921671
8552  Female  65.584057  155.942671
8553  Female  67.429971  151.678405
8554  Female  60.921791  131.253738

[8555 rows x 3 columns]

## Separate X (Gender, Height) and Y (y=Weight)

In [20]:
x = df.drop("Weight", axis=1)
x.head()

  Gender     Height
0   Male  73.847017
1   Male  68.781904
2   Male  74.110105
3   Male  71.730978
4   Male  69.881796

## Encode
#### Gender-> Female=1, Male=0

In [21]:
x = x.replace({'Male':0, 'Female':1})
x.head()

   Gender     Height
0       0  73.847017
1       0  68.781904
2       0  74.110105
3       0  71.730978
4       0  69.881796

In [22]:
y = df[['Weight']]
y.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

## Train = 70%, Test = 30%

In [23]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.30, random_state=42)

In [49]:
df_new = pd.DataFrame(xtest)
df_new

      Gender     Height
6006       1  64.846644
1197       0  68.886367
2862       0  70.963369
6497       1  62.737189
2860       0  69.578030
...      ...        ...
184        0  71.935887
2988       0  67.616383
6048       1  58.213614
420        0  69.689795
5669       1  64.997610

[2567 rows x 2 columns]

In [24]:
xtest

      Gender     Height
6006       1  64.846644
1197       0  68.886367
2862       0  70.963369
6497       1  62.737189
2860       0  69.578030
...      ...        ...
184        0  71.935887
2988       0  67.616383
6048       1  58.213614
420        0  69.689795
5669       1  64.997610

[2567 rows x 2 columns]

## Apply Linear Regression

In [50]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(xtrain,ytrain) #training
y_predict = reg.predict(xtest)
df_new['y_predict'] = reg.predict(xtest)
y_predict

array([[142.44868114],
       [186.0517281 ],
       [198.42283706],
       ...,
       [102.94080643],
       [190.83713617],
       [143.34786753]])

In [51]:
df_new.head()

      Gender     Height   y_predict
6006       1  64.846644  142.448681
1197       0  68.886367  186.051728
2862       0  70.963369  198.422837
6497       1  62.737189  129.884274
2860       0  69.578030  190.171436

## Evaluate the Model (Testing and training Accuracy, MSE for testing)

In [27]:
residue = ytest - y_predict
residue

         Weight
6006   7.219687
1197  11.590516
2862 -19.871646
6497  11.458821
2860   5.151239
...         ...
184   -2.168954
2988 -12.531456
6048  -4.071553
420    0.096264
5669 -19.479438

[2567 rows x 1 columns]

#### training Accuracy

In [33]:
reg.score(xtrain,ytrain)

0.8973793060969246

#### Testing Accuracy

In [34]:
reg.score(xtest, ytest)

0.9059112424422658

In [28]:
#MSE
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest , y_predict)
mse

96.83734437830613

##  Appling KNN Regressor

In [52]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(xtrain,ytrain) #training
predict_by_KNN = knn.predict(xtest)
df_new['predict_by_KNN']=knn.predict(xtest)
predict_by_KNN

array([[142.5130416 ],
       [173.90630823],
       [184.6686197 ],
       ...,
       [ 95.44597987],
       [182.99507227],
       [147.37662317]])

In [53]:
df_new

      Gender     Height   y_predict  predict_by_KNN
6006       1  64.846644  142.448681      142.513042
1197       0  68.886367  186.051728      173.906308
2862       0  70.963369  198.422837      184.668620
6497       1  62.737189  129.884274      115.376399
2860       0  69.578030  190.171436      185.437171
...      ...        ...         ...             ...
184        0  71.935887  204.215380      210.588864
2988       0  67.616383  178.487408      182.694234
6048       1  58.213614  102.940806       95.445980
420        0  69.689795  190.837136      182.995072
5669       1  64.997610  143.347868      147.376623

[2567 rows x 4 columns]

## Testing and training Accuracy, MSE for testing
#### training Accuracy

In [36]:
knn.score(xtrain,ytrain)

0.9304521916751347

#### Testing accuracy

In [37]:
knn.score(xtest,ytest)

0.8679879688589832

In [41]:
#MSE
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest , predict_by_KNN)
mse

135.8684592453893

## Compare KNN & Linear Regression with the KNN Model and Linear regression as well.

In [54]:
df_new

      Gender     Height   y_predict  predict_by_KNN
6006       1  64.846644  142.448681      142.513042
1197       0  68.886367  186.051728      173.906308
2862       0  70.963369  198.422837      184.668620
6497       1  62.737189  129.884274      115.376399
2860       0  69.578030  190.171436      185.437171
...      ...        ...         ...             ...
184        0  71.935887  204.215380      210.588864
2988       0  67.616383  178.487408      182.694234
6048       1  58.213614  102.940806       95.445980
420        0  69.689795  190.837136      182.995072
5669       1  64.997610  143.347868      147.376623

[2567 rows x 4 columns]

## Assignment
#### KNN for Classification –Implementation Guidelines

In [57]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(xtrain, ytrain)

c:\Users\Sadika Sharmin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neighbors\_classification.py:233: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.