## importing Library

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_excel('asset/age-income.xlsx')
df

   age  Income
0   21      60
1   20      55
2   22      60
3   22      61
4   23      65
5   21      62
6   25      65
7   30      70
8   31      68

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()